<%= stylesheet_link_tag 'login', :media => "all" %>

<div class="login-body">
  <main class="form-signin">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1 class="h3 mb-3 fw-normal">利用者ログイン</h1>
      <div class="field">
        <%= f.label :email, class:"visually-hidden" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"メールアドレス" %>
      </div>
    
      <div class="field">
        <%= f.label :password, class:"visually-hidden" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder:"パスワード" %>
      </div>
    
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class:"checkbox mb-3" %>
          <%= f.label :remember_me, "ログインを保存する" %>
        </div>
      <% end %>
    
      <div class="actions">
        <%= f.submit "ログイン", class:"w-100 btn btn-lg btn-primary" %>
      </div>
    <% end %>
    
    <%= render "users/shared/links" %>
  </main>
</div>



